<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dditServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>로깅 여부</description>
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <context-param>
  	<description>디버깅 레벨</description>
  	<param-name>debugLevel</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  <!-- 페이지 없는 오류 처리 -->
  <error-page>
  	<error-code>404</error-code> <!-- 페이지 없음 -->
  	<location>/error/error404.jsp</location>
  </error-page>

  <!-- 소스 오류 처리 -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  
  <!-- exception 타입별로 에러 페이지 지정 -->
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/errorNullPointer.jsp</location>
  </error-page>
  
  <!-- session의 유효 시간 설정(분단위) ex. 50분으로 설정 -->
  <!-- 반드시 설정해줘야 한다. 메모리 부족 현상을 막으려면. -->
  <session-config>
  	<session-timeout>50</session-timeout>
  </session-config>
  
  <!-- 웹 어플리케이션 시작 시(톰캣 기동) JDBC 드라이버를 로딩하므로 개별 JSP는 JDBC 드라이버를 로딩하지 않아도 됨 -->
  <servlet>
  	<servlet-name>oracleDriverLoader</servlet-name>
  	<servlet-class>jdbc.OracleDriverLoader</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
</web-app>